:root{
      --primary: #f59e0b;
      --background-dark: #121212;

       --accent-red: #ef4444;
       --accent-green: #24d89c;
       --os-header: #252525;

       --card-dark: #1e1e1e;
       
}


body {
  background-color: var(--background-dark);
  color: #cbd5e1;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: max(884px, 100dvh);
}

/* FOnt Family */
.font-mono {
  font-family: "Fira Code", monospace;
}

/* /* texts */
.text-muted {
  color: #94a3b8 !important;
}
.text-secondary {
  color: #64748b !important;
}
.text-light-emphasis {
  color: rgba(203, 213, 225, 0.75) !important;
}

/* Backgrounds */
.bg-os-header {
  background-color: var(--os-header);
}
.bg-card-dark {
  background-color: var(--card-dark);
}

.bg-accent-red {
  background-color: var(--accent-red) ;
}
.bg-primary {
  background-color: var(--primary) ;
}
.bg-accent-green {
  background-color: var(--accent-green) ;
}
.bg-os-header-light {
  background-color: rgba(37, 37, 37, 0.5);
}

/* Border */
.border-os {
  border-color: var(--os-border) !important;
}
