:root{
      --primary: #f59e0b;
      --background-dark: #121212;

       --accent-red: #ef4444;
       --accent-green: #24d89c;
       --accent-blue: #3b82f6;
       --os-header: #252525;

       --card-dark: #1e1e1e;
       
}


body {
  background-color: var(--background-dark);
  color: #cbd5e1;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: max(884px, 100dvh);
}

/* FOnt Family */
.font-mono {
  font-family: "Fira Code", monospace;
}

/* /* texts */
.text-muted {
  color: #94a3b8 !important;
}
.text-secondary {
  color: #64748b !important;
}
.text-light-emphasis {
  color: rgba(203, 213, 225, 0.75) !important;
}

/* Backgrounds COLORS*/
.bg-os-header {
  background-color: var(--os-header);
}
.bg-card-dark {
  background-color: var(--card-dark);
}

.bg-accent-red {
  background-color: var(--accent-red) ;
}
.bg-primary {
  background-color: var(--primary) ;
}
.bg-accent-green {
  background-color: var(--accent-green) ;
}
.bg-os-header-light {
  background-color: rgba(37, 37, 37, 0.5);
}
/* NAV LINK */
.nav-link:hover,.item-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.item-link {
  cursor: pointer;
}
/* TEXT COLOR */
.text-accent-blue {
  color: var(--accent-blue) ;
}
/* Border */
.border-os {
  border-color: var(--os-border) ;
}
/* SIDEBAR */
.sidebar{
    min-width: 14rem;
}
/* Texts */
.text-custom-sm {
    font-size: 0.8rem;
    transition: background-color 0.15s ease-in-out;
}
.text-md-icon {
    font-size: 1.125rem;
}
.text-item {
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}
.text-item-lg {
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--os-border);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}