:root {
  --primary: #f59e0b;
  --background-dark: #121212;

  --accent-red: #ef4444;
  --accent-green: #24d89c;
  --accent-blue: #3b82f6;
  --os-header: #252525;
  --os-border: #333333;

  --card-dark: #1e1e1e;
  /* Varibles Expertice system */
  --green-base: 16, 185, 129; /* rgb(16,135,95) */
  --blue-base: 59, 130, 246; /* rgb(51,88,166) */
  --orange-base: 166, 112, 41; /* rgb(166, 112, 41) */
  --purple-base: 131, 41, 166;
  --level-1: 0.15;
  --level-2: 0.28;
  --level-3: 0.35;
  --level-4: 0.5;
  --level-5: 1;

  .level-1 {
    --level-opacity: var(--level-1);
  }
  .level-2 {
    --level-opacity: var(--level-2);
  }
  .level-3 {
    --level-opacity: var(--level-3);
  }
  .level-4 {
    --level-opacity: var(--level-4);
  }
  .level-5 {
    --level-opacity: var(--level-5);
  }
}

body {
  background-color: var(--background-dark);
  color: #cbd5e1;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: max(884px, 100dvh);
}

/* FOnt Family */
.font-mono {
  font-family: "Fira Code", monospace;
}

/* /* texts */
.text-muted {
  color: #94a3b8 !important;
}
.text-secondary {
  color: #64748b !important;
}
.text-light-emphasis {
  color: rgba(203, 213, 225, 0.75) !important;
}

/* Backgrounds COLORS*/
.bg-os {
  background-color: var(--os-border);
}
.bg-os-header {
  background-color: var(--os-header);
}
.bg-card-dark {
  background-color: var(--card-dark);
}

.bg-accent-red {
  background-color: var(--accent-red);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-accent-green {
  background-color: var(--accent-green);
}
.bg-os-header-light {
  background-color: rgba(37, 37, 37, 0.5);
}
/* NAV LINK */
.nav-link:hover,
.item-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.item-link {
  cursor: pointer;
}
/* TEXT COLOR */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: #64748b !important;
}
.text-accent-red {
  color: var(--accent-red) !important;
}
.text-accent-blue {
  color: var(--accent-blue);
}
.text-accent-green {
  color: var(--accent-green) !important;
}
/* Border */
.border-os {
  border-color: var(--os-border) !important;
}
.border-dashed {
  border-style: dashed !important;
}
/* SIDEBAR */
.sidebar {
  min-width: 14rem;
}
/* Texts */
.text-custom-sm {
  font-size: 0.8rem;
  transition: background-color 0.15s ease-in-out;
}
.text-md-icon {
  font-size: 1.125rem;
}
.text-item {
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}
.text-item-md {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}
.text-item-lg {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}

/* FOrm */
.form-max {
  width: 100%;
  max-width: 85vh;
}
.cancel-btn {
  background-color: rgba( 239, 68, 68, 0.1);
  transition: background-color 0.15s ease-in-out;
}
.cancel-btn:hover {
  background-color: rgba(239, 68, 68, 0.25);
}
.input-reset{
  background-color: transparent;
  border: none;
  outline: none;
}
.terminal-input{
  background-color: black;
  padding: 0.5rem;
  color:var(--primary);
}
.terminal-textarea{
  background-color: black;
  color:var(--primary);
}
.submit-btn {
  background-color: rgba(245, 158, 11, 0.1);
  transition: background-color 0.15s ease-in-out;
}
.submit-btn:hover {
  background-color: rgba(245, 158, 11, 0.25);
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--os-border);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* FOOTER */
.circle-xs {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
/* MAIN SECTION */
.main-icon-lg {
  font-size: 1.5rem;
}

/* PPROFILE */
.img-xs {
  width: 8rem;
  height: 8rem;
}
/* SKILLS */
/* BADGES */
.badge-size {
  font-size: 0.625rem;
  padding: 0.125rem 0.5rem;
}
.badge-green {
  border-color: rgba(
    var(--green-base),
    calc(var(--level-opacity) * 0.5)
  ) !important;
  background-color: rgba(var(--green-base), calc(var(--level-opacity) * 0.5));
  color: var(--accent-green);
}
.badge-blue {
  border-color: rgba(
    var(--blue-base),
    calc(var(--level-opacity) * 0.5)
  ) !important;
  background-color: rgba(var(--blue-base), calc(var(--level-opacity) * 0.5));
  color: rgb(var(--accent-blue));
}
.badge-orange {
  border-color: rgba(
    var(--orange-base),
    calc(var(--level-opacity) * 0.5)
  ) !important;
  background-color: rgba(var(--orange-base), calc(var(--level-opacity) * 0.5));
  color: var(--accent-orange);
}
.badge-purple {
  border-color: rgba(
    var(--purple-base),
    calc(var(--level-opacity) * 0.5)
  ) !important;
  background-color: rgba(var(--purple-base), calc(var(--level-opacity) * 0.5));
  color: rgb(var(--accent-purple));
}
/* Expertice System */

.expertise-scale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.625rem;
  color: var(--bs-secondary);
}

.expertise-squares {
  display: flex;
  gap: 0.25rem;
}

.square {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.15rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Labels */
.expertise-label {
  font-family: var(--bs-font-monospace);
  opacity: 0.75;
}

/* EDUCATION */
.file-item:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
